html {
    scroll-behavior: smooth;
}

body {
    font-family: "Ubuntu", sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background: black;
    color: white;
    padding: 20px 50px;
}

.navItem:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.logo {
    font-size: 2em;
}

.navTop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.navItemGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.search {
    display: flex;
    align-items: center;
    background: black;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid greenyellow;
}

.searchInput {
    border: none;
    background: transparent;
    font-size: 1.5rem;
    color: white;
}

.searchInput:focus{
    outline: none;
    background: transparent;
}

.searchInput::placeholder{
    color: white;
}

.searchButton {
    background: transparent;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.searchButton:hover {
    transform: scale(1.1);
}

.shoppingCart {
    width: 45px;
    font-size: 1.5em;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.shoppingCart:hover {
    transform: scale(1.1);
}

.navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem {
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 0;
    cursor: pointer;
    font-weight: 400;
}

.slider {
    background: url("https://static.vecteezy.com/system/resources/previews/035/668/410/non_2x/ai-generated-black-abstract-abstract-triangle-black-abstract-backgrounds-free-photo.jpg");
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); */
    overflow: hidden;
}

.sliderWrapper {
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
}

.sliderItem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 30px;
    margin-bottom: 50px;
}

.sliderImage {
    z-index: 1;
    width: 450px;
}

.sliderBg {
    position: absolute;
    width: 600px;
    height: 100px;
    border-radius: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    bottom: 0;
}

.sliderTitle {
    position: absolute;
    top: 10%;
    right:10%;
    color: white;
    font-size: 2.5rem;
    z-index: 1;
}

.sliderPrice {
    padding: 10px;
    position: absolute;
    top: 10%;
    left: 15%;
    font-weight: 300;
    font-size: 4rem;
    border-radius: 10px;
    z-index: 1;
}

.buyButton {
    padding: 10px;
    position: absolute;
    top: 55%;
    right: 21%;
    color: white;
    font-size: 2em;
    border: 2px solid white;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
}

.buyButton:hover {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    color: greenyellow;
    border: 2px solid rgb(255, 255, 255, 0.3);
}

.sliderItem:nth-child(1) .sliderPrice {
    background-image: linear-gradient(to right, rgb(104, 109, 118, 0.3), rgb(0, 0, 0, 0.3));
    color: lightgray;
    backdrop-filter: blur(5px);
}

.sliderItem:nth-child(2) .sliderPrice {
    background-image: linear-gradient(to right, rgb(110, 172, 218), rgb(227, 165, 199, 0.3));
    color: lightgray;
    backdrop-filter: blur(5px);
}

.sliderItem:nth-child(3) .sliderPrice {
    background-image: linear-gradient(to right, rgb(0, 0, 0, 0.3),rgb(255, 130, 37, 0.3));
    color: lightgray;
    backdrop-filter: blur(5px);
}

.sliderItem:nth-child(4) .sliderPrice {
    background-image: linear-gradient(to right,rgb(0, 0, 0, 0.3), rgb(0, 141, 218, 0.3),rgb(249, 240, 122, 0.3));
    color: lightgray;
    backdrop-filter: blur(5px);
}

.features {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px 0 50px;
}

.featureIcon{
    width: 100px;
    height: 100px;
}

.featureTitle {
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}

.featureDesc {
    color: gray;
    font-size: 20px;
}

.product {
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
}

.payment {
    width: 500px;
    height: 550px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 27px -3px rgba(0,0,0,0.87); 
    box-shadow: 0px 0px 27px -3px rgba(0,0,0,0.87);
}

.payTitle {
    font-size: 1.5em;
    color: rgb(137, 137, 137);
}

label {
    font-size: large;
    font-weight: 300;
}

.payInput {
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;
}

.payInput::placeholder {
    color: rgb(157, 157, 157);
}

.cardIcons {
    display: flex;
}

.cardIcon {
    width: 40px;
    margin-right: 10px;
}

.cardInfo {
    display: flex;
    justify-content: space-between;
}

.sm {
    width: 25%;
}

.payButton {
    position: absolute;
    height: 40px;
    bottom: 0;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 0px 0px 27px -3px rgba(0,0,0,0.87); 
    box-shadow: 0px 0px 27px -3px rgba(0,0,0,0.87);
    background-color: #369e62;
    color: white;
    border: none;
    cursor: pointer;
}

.close {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.close:hover {
    transform: scale(1.1);
}

.productImgDiv {
    margin-left: 20px;
    width: 50%;
}

.productImg {
    width: 100%;
}

.productDetails {
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 80px;
}

.productTitle {
    font-size: 3rem;
    font-weight: 900;
}

.productDesc {
    font-size: large;
    color: gray;
}

.displays {
    display: flex;
    align-items: center;
    gap: 15px;
}

.display {
    border: 5px solid #76b900;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.display:hover {
    transform: scale(1.1);
}

.display img{
    width: 100px;
}

.productButton {
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 5px solid #76b900;
    background-color: black;
    color: white;
    font-weight: 900;
    cursor: pointer;
}

.productButton:hover {
    background-color: white;
    border: 5px solid black;
    color: #76b900;
}

/* footer */

footer {
    display: flex;
    background: rgb(30, 29, 29);
}

.leftFooter {
    flex: 2;
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.footerMenuTitle {
    color: #76b900;
    font-size: 20px;
}

.footerMenuList{
    padding: 0;
    list-style: none;
}

.footerListItem{
    margin-bottom: 10px;
    color: gray;
}

.footerListItem:hover{
    color: #76b900;
    cursor: pointer;
}

.rightFooter {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.footerInput{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.footerButton{
    padding: 10px;
    color: white;
    background-color: #76b900;
    border: none;
    border-radius: 5px;
}

.footerButton:hover{
    transition: all;
    background-color: gray;
}

.footerSocIcon{
    display: flex;
}

.footerSocMed{
    width: 45px;
    height: 45px;
    margin-right: 20px;
}

.copyright{
    color: white;
    font-size: 15px;
}

/* PANJANG PANJANG ORANG PANJANG */